.featuredCategories{
	max-width: 100%;
	height: 400px;
	background-color: rgba(229, 203, 203, 0.399);
	display: flex;
	/* justify-content: center; */
	flex-wrap: nowrap;
	align-items: center;
	overflow-x: auto;
}

@media (max-width: 768px) {
	.featuredCategories{
		justify-content: flex-start;
	}
}

.category{
	height: 90%;
	min-width: 250px;
	margin: 10px;
	padding: 10px;
	background-color: aliceblue;
	position: relative;
	cursor: pointer;
}

.featuredCategoryText{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(173, 173, 173, 0.548);
	padding: 5px;
	font-size: 18px;
	color: white;
	text-align: center;
}

.productList{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.productCard{
	min-width: 18%;
	height: 300px;
	border: 1px solid black;
	padding: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	margin: 10px;
}

.productImage{
	width: 100%;
	height: 80%;
}

.productActionBtns{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;
	font-size: 18px;
}