.slider {
	width: 100%;
	height: 80vh;
	min-height: 600px;
	/* background-color: green; */
}

.sliderLeft {
	width: 50%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sliderRight {
	width: 50%;
	height: 100%;
	padding-left: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.circleAndImage {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.backCircle {
	width: 75%;
	height: 75%;
	border-radius: 50%;
}

.modelImageDiv {
	position: absolute;
	height: 100%;
	width: 100%;
}

/* .modelImage {
	max-width: 100%;
	max-height: 100%;
} */

.slideBtn {
	padding: 15px;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 5px;
	cursor: pointer;
}

.mainText{
	font-size: 60px;
	padding: 10px;
}
.subText{
	font-size: 30px;
	padding: 10px;
}

